
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #f41e3d;
$title-color	: #232d37;
$text-color		: #51545f;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #000;